extends layout 

include mixins/_reviewForm
include mixins/_review

block content   
  h2 #{court.name}
  img(src=`/uploads/${court.photo || 'court.jpg'}`)
  img(src=h.staticMap(court.location.coordinates))
  if court.tags   
    ul.tags   
      each tag in court.tags 
        li.tag  
          a.tag__link(href=`/tags/${tags}`)
            span.tag__text ##{tag}
  p.description #{court.description}

  if user   
    +reviewForm(court)

  if court.reviews
    .reviews
      each review in court.reviews
        .review
          +review(review)
  