mixin courtCard(court = {})
  .court
    .court__hero 
      img(src=`/uploads/${court.photo || 'court.jpg'}`)
    .court__description 
      h3
        a(href=`/court/${court.slug}`) #{court.name}
      p #{court.description}
    .court__actions
      if user
        .court__action.court__action--heart 
          form.heart(method="POST" action=`/api/courts/${court._id}/heart`)
            - const heartStrings = user.hearts.map(obj => obj.toString())
            - const heartClass = heartStrings.includes(court._id.toString()) ? 'heart__button--hearted' : ''
            button.heart__button(type="submit" name="heart")
              != h.icon('heart') 
      if user && court.author.equals(user._id)
        .court__action.court__action--edit
          a(href=`/courts/${court._id}/edit`) edit
      if court.reviews
          .court__action.court__action--count
            != h.icon('review')
            span= court.reviews.length > 0 ? court.reviews.length : ''

