mixin courtCard(court = {})
  .court
    .court__hero 
      img(src=`/uploads/${court.photo || 'court.jpg'}`)
    .court__description 
      h3
        a(href=`/court/${court.slug}`) #{court.name}
      p #{court.description}
    .court__actions
       if user && court.author.equals(user._id)
        .court__action.court__action--edit
          a(href=`/courts/${court._id}/edit`) edit


